editor/assets/* filter=lfs diff=lfs merge=lfs -text
editor/assets/*.png filter=lfs diff=lfs merge=lfs -text
presentation/obrona_inz_prezentacja.tar.gz filter=lfs diff=lfs merge=lfs -text
examples/12-years-a-slave-2.png filter=lfs diff=lfs merge=lfs -text
examples/1917-23.png filter=lfs diff=lfs merge=lfs -text
examples/1984-14.png filter=lfs diff=lfs merge=lfs -text
examples/2046-22.png filter=lfs diff=lfs merge=lfs -text
examples/20th-century-women-16.png filter=lfs diff=lfs merge=lfs -text
examples/10-cloverfield-lane-14.png filter=lfs diff=lfs merge=lfs -text
examples/2001-a-space-odyssey-11.png filter=lfs diff=lfs merge=lfs -text
examples/13th-19.png filter=lfs diff=lfs merge=lfs -text
examples/1984-20.png filter=lfs diff=lfs merge=lfs -text
examples/2046-4.png filter=lfs diff=lfs merge=lfs -text
examples/20000-days-on-earth-14.png filter=lfs diff=lfs merge=lfs -text
examples/2001-a-space-odyssey-23.png filter=lfs diff=lfs merge=lfs -text
examples/21-grams-12.png filter=lfs diff=lfs merge=lfs -text
examples/127-hours-1.png filter=lfs diff=lfs merge=lfs -text
examples/127-hours-24.png filter=lfs diff=lfs merge=lfs -text
examples/127-hours-5.png filter=lfs diff=lfs merge=lfs -text
examples/2001-a-space-odyssey-20.png filter=lfs diff=lfs merge=lfs -text
examples/10-cloverfield-lane-17.png filter=lfs diff=lfs merge=lfs -text
examples/127-hours-17.png filter=lfs diff=lfs merge=lfs -text
examples/20000-days-on-earth-5.png filter=lfs diff=lfs merge=lfs -text
examples/2046-7.png filter=lfs diff=lfs merge=lfs -text
examples/20th-century-women-20.png filter=lfs diff=lfs merge=lfs -text
examples/24-hour-party-people-10.png filter=lfs diff=lfs merge=lfs -text
examples/12-years-a-slave-5.png filter=lfs diff=lfs merge=lfs -text
examples/127-hours-20.png filter=lfs diff=lfs merge=lfs -text
examples/20000-days-on-earth-3.png filter=lfs diff=lfs merge=lfs -text
examples/20000-days-on-earth-7.png filter=lfs diff=lfs merge=lfs -text
examples/2001-a-space-odyssey-1.png filter=lfs diff=lfs merge=lfs -text
examples/20th-century-women-11.png filter=lfs diff=lfs merge=lfs -text
examples/12-years-a-slave-4.png filter=lfs diff=lfs merge=lfs -text
examples/1984-23.png filter=lfs diff=lfs merge=lfs -text
examples/20000-days-on-earth-6.png filter=lfs diff=lfs merge=lfs -text
examples/2001-a-space-odyssey-16.png filter=lfs diff=lfs merge=lfs -text
